<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>문의 상세 내역</title>
</head>
<body>
  <h2>문의 상세 내역 페이지</h2><br/>

  제목 : <span th:text="${inquiry.title}"></span><br />
  작성자 :  <span style="font-weight: bold" th:text="${inquiry.writerId}"></span><br />
  분류 :  <span th:text="${inquiry.category.name}"></span><br />
  작성일자 :  <span th:text="${#temporals.format(inquiry.writeDateTime,'yyyy-MM-dd HH:mm')}"></span><br />
  본문 :  <span th:text="${inquiry.content}"></span><br /><br />
  첨부 파일 :
  <ul th:each="file:${inquiry.files}" >
      <li>
          <a th:href="@{/cs/inquiry/{id}/{filename}/view(id=${inquiry.id},filename=${file.getOriginalFilename()})}" th:text="${file.getOriginalFilename()} "></a><br/>
      </li>
  </ul>
  <br /><hr />
  <form method="post" th:action="@{/cs/admin/answer/{id}(id=${inquiry.id})}">
      CS 담당자  : <input type="text" name="adminId" th:value="${id}" readonly/><br />
      답변 내용  : <textarea name="answerContent" rows="10" cols="80"></textarea><br />
      <input type="submit" value="확인" /> &nbsp;
      <button type="button" onclick="location.href='/cs/admin'">취소</button>
  </form>

</body>
</html>
